html {
    margin: 0px;
    padding: 0 px;

}

main {
    background-color: azure;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-template-areas:
        "PB PB PB"
        "A B C";
}

.promotionalBanner {
    grid-area: PB;
}

.sectionA {
    grid-area: A;
}

.sectionB {
    grid-area: B;
}

.sectionC {
    grid-area: C;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    background-color: green;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;

}

.logo {
    background-color: antiquewhite;
}

.nav {
    background-color: blueviolet;
}

.header:hover {
    background-color: aliceblue;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aquamarine;
}