html {
    margin: 0px;
    padding: 0 px;

}

.container {
    display: grid;
    grid-template: repeat(auto, 1fr) / repeat(auto, 1fr);
    grid-template-areas:
        "h h h"
        "m m m"
        "f f f";
    background-color: green;
}

main {
    grid-area: m;
    background-color: azure;
    display: grid;
    grid-template: 2fr 4fr / repeat(3, 1fr);
    grid-template-areas:
        "PB PB PB"
        "A B C";
    grid-gap: 2px;
}

.promotionalBanner {
    grid-area: PB;
    text-align: center;
}

.sectionA {
    grid-area: A;
    text-align: center;
}

.sectionB {
    grid-area: B;
    text-align: center;
}

.sectionC {
    grid-area: C;
    text-align: center;
}

.header {
    grid-area: h;
    grid-gap: 5px;

}

.logo {
    background-color: antiquewhite;
}

.nav {
    background-color: blueviolet;
}

.header:hover {
    background-color: aliceblue;
}

.footer {
    grid-area: f;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aquamarine;
    grid-gap: 5px;
}

.littleLogo {
    background-color: yellow;
}

.copyright {
    background-color: antiquewhite;
}

.sectionA:hover,
.sectionB:hover,
.sectionC:hover {
    background-color: cyan;
}

.sectionA,
.sectionB,
.sectionC {
    border-color: blue;
    border-width: 2px;
    border-style: double;
}