html {
    margin: 0px;
    padding: 0px;

}

.container {
    display: grid;
    grid-template: repeat(auto, 1fr) / repeat(auto, 1fr);
    grid-template-areas:
        "h h h"
        "m m m"
        "f f f";
    background-color: rgba(38, 135, 127, 255);
}

main {
    grid-area: m;
    background-color: antiquewhite;
    display: grid;
    grid-template: repeat(auto, 1fr) / repeat(3, 1fr);
    grid-template-areas:
        "PB PB PB"
        "H1 H1 H1"
        "A B C";
    grid-gap: 2px;
    text-align: center;

}

.section1 {
    grid-area: H1;
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgba(38, 135, 127, 255);
    -webkit-text-fill-color: rgba(38, 135, 127, 255);
    -webkit-text-stroke: .5px
}

h4 {
    font-weight: 550;
    -webkit-text-fill-color: rgb(56, 55, 55);
    -webkit-text-stroke: .5px rgb(104, 102, 102);
    padding: 10%;
    text-shadow: 2px 2px 2px #C7CEC6;
}

a {
    color: rgba(38, 135, 127, 255);
    text-decoration: none;
}

a:visited {
    color: rgba(38, 135, 127, 255);
    font-weight: 900;
}

a:hover {
    color: rgba(38, 135, 127, 255);
    text-decoration: underline;
}

.mainPromoBanner {
    color: black;
    font-size: 34px;
    font-weight: 900;
    -webkit-text-fill-color: rgba(38, 135, 127, 255);
    -webkit-text-stroke: .5px rgb(56, 55, 55);
    text-shadow: 1px 2px 2px #1f4e199d;
}

.promotionalBanner {
    grid-area: PB;
    text-align: center;
    background-image: url(/assets/dreamGarden.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    position: relative;

}

.bannerFilter {
    background-color: hsla(58, 25%, 78%, 0.8);
    min-height: 50vh;
}

.topLogo {
    display: block;
    width: 15%;
    margin: 5px auto;
}

.sectionA {
    grid-area: A;
    text-align: center;
}

.sectionB {
    grid-area: B;
    text-align: center;
}

.sectionC {
    grid-area: C;
    text-align: center;
}

.header {
    grid-area: h;
    grid-gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: antiquewhite;
    grid-gap: 5px;
}

.logo {
    background-color: antiquewhite;
}

.nav {
    display: flex;
    background-color: antiquewhite;
    text-align: center;
    justify-content: space-evenly;
    align-self: last baseline;
}

.footer {
    grid-area: f;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: aquamarine;
    grid-gap: 5px;
}

.littleLogo {
    background-color: yellow;
}

.copyright {
    background-color: antiquewhite;
}

.sectionA:hover,
.sectionB:hover,
.sectionC:hover {
    background-color: cyan;
}

.sectionA,
.sectionB,
.sectionC {
    border-color: rgba(38, 135, 127, 255);
    border-width: 2px;
    border-style: double;
    background-color: antiquewhite;
    margin: 2.5px;
    padding: 5px;
}